:root {
    --main-color: #990033;
    --secondary-color: rgb(87, 199, 243);

    --main-text: #fff;

    --trans: rgba(0, 0, 0, 0.5);
    --border-color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--secondary-color);
    color: white;
    font-family: 'Bangers';
    font-size: 22px;
    letter-spacing: 0.1rem;
}

header {
    margin: 10px;
    background-color: var(--trans);
    border: solid 3px var(--border-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-text);
}

h1 {
    margin: 20px;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: 70px 80% 70px;
    grid-gap: 10px;
    margin: 10px;
    height: 70vh;
}

#quiz-question-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20%;
}

.high-score,
.timer {
    padding: 14px;
    background-color: var(--trans);
    border: solid 3px var(--border-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-text);
    margin-bottom: 50vh;
}

.high-score {
    text-align: center;
}

.high-score:hover {
    background-color: white;
    color: black;
}

.quiz-question {
    background-color: var(--trans);
    border: solid 3px var(--border-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-text);
}

button {
    display: block;
    font-family: 'Bangers';
    color: var(--main-text);
    letter-spacing: 0.1em;
    background-color: black;
    overflow: auto;
    padding: 10px;
    margin: 10px;
}

button:hover {
    background-color: white;
    color: black;
}

#highScore {
    visibility: hidden;
}

.hide {
    display: none;
}

#the-scoreboard {
    background-color: #61faff;
    background-image: linear-gradient(45deg, #61faff 0%, #61c5ff 52%, #61dfff 90%);
    transition: all .5s ease-out;
    background-position: 0 -10px;
    color: black;
}

footer {
    background-color: var(--trans);
    border: solid 3px var(--border-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-text);
    margin:10px;
}

@media screen {
    
}